.userManagementTable {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--soft-white);
  border-radius: 12px;
  padding: 16px;
}

th,
td {
  padding: 12px 16px;
  font-family: "Inter", sans-serif;
  text-align: left;
  border-bottom: 1px solid var(--cool-gray);
}

th {
  font-weight: 700;
  color: var(--dark-gray);
}

.actions {
  display: flex;
  gap: 8px;
}
