.gridCell {
  width: 40px;
  height: 40px;
  border: 1px solid var(--cool-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 300ms ease;
  cursor: pointer;
}

.untouched {
  background-color: var(--soft-white);
}

.untouched:hover {
  background-color: var(--seafoam-green);
  opacity: 0.3;
}

.hit {
  background-color: var(--hot-pink);
}

.miss {
  background-color: var(--gray);
}

.ship {
  background-color: var(--charcoal);
  border-radius: 4px;
}

.dot {
  font-size: 24px;
}

.dot.hit {
  color: var(--hot-pink);
}

.dot.miss {
  color: var(--gray);
}
