.text {
  font-family: "Inter", sans-serif;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: var(--soft-white);
}

.body {
  font-size: 16px;
  font-weight: 400;
  color: var(--dark-gray);
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: var(--dark-gray);
  text-transform: uppercase;
}

.secondary {
  font-size: 12px;
  font-weight: 400;
  color: var(--cool-gray);
}
